<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/ThinKKING/IdeaProjects/SeleniumLevel1/src/test/java">
    <classes>
        <class name="Testcases.Railway.BookTicketTest">
            <methods>
                <include name="TC14"/>
            </methods>
        </class>
        <class name="Testcases.Railway.ChangePasswordTest">
            <methods>
                <include name="TC09"/>
            </methods>
        </class>
        <class name="Testcases.Railway.ForgotPasswordTest">
        <methods>
            <include name="TC12"/>
            <include name="TC13"/>
        </methods>
        </class>
        <class name="Testcases.Railway.LoginTest">
            <methods>
                <include name="TC01"/>
                <include name="TC02"/>
                <include name="TC03"/>
                <include name="TC04"/>
                <include name="TC05"/>
                <include name="TC06"/>
                <include name="TC08"/>
            </methods>
        </class>
        <class name="Testcases.Railway.MyTicketTest">
            <methods>
                <include name="TC16"/>
            </methods>
        </class>
        <class name="Testcases.Railway.RegisterTest">
            <methods>
                <include name="TC07"/>
                <include name="TC10"/>
                <include name="TC11"/>
            </methods>
        </class>
        <class name="Testcases.Railway.TicketPriceTest">
            <methods>
                <include name="TC15"/>
            </methods>
        </class>
    </classes>
</test>

    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>

</suite>